

    {{> head}}

    {{> navbar}}

    <div class="row">
        <div class="col-6">
            <h3> Aguante Ferro</h3>
        </div>
        <div class="col-4">

            <img src="img/ferro.jpg" alt="Imagen de prueba" id="ferro" class="img-thumbnail">
        </div>



    </div>

    {{> footer}}
